# Python
__pycache__/
*.py[oc]
*.egg-info/
dist/
build/
wheels/

# Virtual environments
.venv/
venv/

# Node
node_modules/
dist/

# IDE 同步设置
# .vscode/ 
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Database
*.db

# Build artifacts
*.tsbuildinfo

# 临时文件
.temp/

# 气象数据
*.epw

# Rust
table-processor/

*.epw